.landing-container{
    
    display : flex;
    justify-content: space-between;
    padding-top: 60px;

    .contentArea{

        width: 100%;

        .headingText{

            padding-left: 250px;
            margin-top: 70px;

            h1{
                font-size: 60px;
                font-family: 'gd boing';
                line-height: 65px;
            }

            p{
                font-size: 16px;
                width: 35%;
                margin: 40px 0 50px 0;
                line-height: 28px;
                color: #777;
                font-weight: 300;
            }
        }

        .powered{

            .lineName{

                position: relative;

                .textPower{
                    position: absolute;
                    top: -6px;
                    margin-left: 230px;
                    background-color: #fff;
                    padding: 0 20px;
                    z-index: 10;
                    font-weight: bold;
                    font-size: 14px;
                    color: #777;
                }
                
            }

            .checkPlan{

                display: flex;
                padding-left: 250px;

                .power_icons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 60px;
                    color: #777;
                    font-weight: 300;
                    margin-top: 50px;

                    p{
                        margin-top: 20px;
                        font-size: 14px;
                    }
                }
            }

            .show{
                position: absolute;
                margin-top: 30px;
                height: 1px;
                opacity: .3;
                z-index: 20;
            }
        }

    }

    .landingImage{
        width: 63%;
        position: absolute;
        z-index: 30;
        right: 0px;
        top: 30px;

        img{
            width: 100%;
        }
    }

    .arrowLead{
        height: 50px;
        width: 50px;
        background-color: #fff;
        box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .1);
        position: absolute;
        bottom: 30px;
        left: 250px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .leader-arrow{
            color: #5001bc;
        }
    }
}

@media (max-width: 992px) {

    
}