@font-face {font-family: "GD Boing";
    src: url("https://db.onlinewebfonts.com/t/2d8cf0a1ae3cf90fc45730a9e56b1db2.ttf") format("truetype")
}

.landing-container{
    overflow-x: hidden;
    width: inherit;
    margin-top: 80px;
    position: relative;
    height: calc(100vh - 80px);

    .contentArea{

        padding-left: 250px;
        width: 100%;
        padding-top: 40px;

        .headingText{

            h1{
                font-size: 60px;
                font-family: 'GD Boing';
                line-height: 65px;
                color: #150033;
            }

            p{
                font-size: 16px;
                width: 30%;
                margin: 40px 0;
                line-height: 30px;
                color: #777;
                font-weight: 500;
            }

            .size425{
                display: none;
            }
        }

    }

    .powered{

        position: absolute;
        width: 100%;
        left: 0;

        .lineName{

            .textPower{
                position: absolute;
                top: 20px;
                margin-left: 230px;
                background-color: #fff;
                padding: 0 20px;
                z-index: 40;
                font-weight: bold;
                font-size: 14px;
                color: #777;
            }

            .show{
                position: absolute;
                margin-top: 30px;
                height: 1px;
                opacity: .3;
                z-index: 20;
            }  
        }

        .checkPlan{

            display: flex;
            margin: 20px 0 20px 250px;

            .power_icons{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 60px;
                color: #777;
                font-weight: 300;
                margin-top: 50px;

                p{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .arrowLead{
        height: 50px;
        width: 50px;
        background-color: #fff;
        box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .1);
        position: absolute;
        margin-top: 230px;
        left: 250px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .leader-arrow{
            color: #5001bc;
        }
    }

    .showMax{
        opacity: .2;
    }

    .landingImage{
        width: 63%;
        position: absolute;
        z-index: 30;
        right: 0px;
        top: -60px;

        img{
            width: 100%;
        }
    }
}

@media (max-width: 1400px) {


    .contentArea{

        padding-left: 150px !important;

        h1{
            font-size: 55px !important;
            line-height: 60px;
        }

        .headingText{
            p{
                width: 30% !important;
            }
        }

        .checkPlan{
            margin-left: 150px !important;
        }

        .textPower{
            margin-left: 130px !important;
        }
    }

    .arrowLead{
        left: 100px !important;
    }
    
    
}

@media (max-width: 1024px) {

    .landingImage{
        width: 75% !important;
        top: 30px !important;
        right: -50px !important;

        img{
            width: 100%;
        }
    }


    .contentArea{

        padding-left: 100px !important;

        h1{
            font-size: 55px !important;
            line-height: 60px;
        }

        .headingText{
            
            p{
                width: 40% !important;
            }
        }

        .checkPlan{
            margin-left: 100px !important;

            .power_icons{
                margin-right: 40px !important;
            }
        }

        .textPower{
            margin-left: 80px !important;
        }
    }

    .arrowLead{
        left: 100px !important;
    }
    
    
}

@media (max-width: 992px) {


    .landingImage{
        width: 70% !important;
        top: -0px !important;
        right: -50px !important;

        img{
            width: 100%;
        }
    }

    .contentArea{

        padding-left: 0 !important;

        h1{
            font-size: 50px !important;
            line-height: 55px !important;
        }

        .headingText{

            display: flex;
            flex-direction: column;
            margin-left: 100px;

            p{
                width: 40% !important;
                font-size: 14px !important;
                margin: 0 auto;
            }
        }

        .checkPlan{
            margin-left: 100px !important;

            .power_icons{
                margin-right: 50px !important;


                p{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }

        .textPower{
            margin-left: 80px !important;
        }
    }

    .arrowLead{
        display: none !important;
    }
    
    
}

@media (max-width: 768px) {

    .landingImage{
        width: 70% !important;
        top: -0px !important;
        right: -50px !important;
        display: none;

        img{
            width: 100%;
        }
    }


    .contentArea{

        padding-left: 0px !important;

        h1{
            font-size: 60px !important;
            line-height: 65px !important;
            text-align: center;
        }

        .headingText{

            margin-left: 0px !important;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                width: 55% !important;
                text-align: center;
                font-size: 16px !important;
                line-height: 30px !important;
                margin-bottom: 20px !important;
            }
        }

        .checkPlan{

            margin-left: 100px !important;
            display: flex;
            align-items: center;
            justify-content: center;

            .power_icons{
                margin-right: 80px !important;
                margin-left: 0px !important;

                .icon{
                    width: 35px !important;
                }
            }

            
        }
        
        .textPower{
            margin-left: 0px !important;
            left: 50%;
            transform: translateX(-50%);
            
        }
        
    }
    
    
}

@media (max-width: 620px) {


    .contentArea{

        padding-left: 0px !important;

        h1{
            font-size: 50px !important;
            line-height: 55px !important;
        }

        .headingText{
            p{
                width: 70% !important;
                font-size: 14px !important;
            }
        }

        .checkPlan{

            margin-left: 0px !important;

            .power_icons{
                margin-right: 27px !important;
                margin-left: 27px !important;

                .icon{
                    width: 35px !important;
                }
            }
        }
        
        
    }
    
    
}

@media (max-width: 425px) {

    .landingImage{
        width: 145% !important;
        display: block !important;
        top: 270px !important;
        right: -100px !important;
    }


    .contentArea{

        padding-left: 0px !important;
        padding-top: 30px !important;

        h1{
            font-size: 45px !important;
            line-height: 50px !important;
        }

        .headingText{

            p{
                display: none;
            }

            .size425{
                display: block !important;
                width: 80% !important;
            }
        }

        .powered{
            display: none;
        }

        .checkPlan{

            .power_icons{
                margin-right: 20px !important;
                margin-left: 25px !important;

                .icon{
                    width: 35px !important;
                }
            }
        }
        
        
    }
    
    
}

@media (max-width: 375px) {

    .landingImage{
        width: 145% !important;
        display: block !important;
        top: 265px !important;
        right: -100px !important;
    }


    .contentArea{

        padding-left: 0px !important;

        h1{
            font-size: 42px !important;
            line-height: 47px !important;
        }

        .headingText{

            .size425{
                display: block !important;
                width: 90% !important;
                margin-top: 25px !important;
                font-weight: 600px !important;
                line-height: 27px !important;
            }
        }

        .checkPlan{

            flex-wrap: wrap;
            margin-top: 60px !important;

            .power_icons{
                background-color: #fff;
                box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .05);
                height: 120px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px !important;

                .icon{
                    width: 40px !important;
                }
            }
        }
        
        
    }

    .arrowLead{
        display: none !important;
    }
    
    
}