.contact{
    padding: 120px 250px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #003ad6;

    .contact_content{
        
        width: 50%;

        h1{
            font-size: 45px;
            font-family: 'GD Boing';
            line-height: 50px;
            color: #fff;
        }

        p{
            width: 85%;
            line-height: 28px;
            margin-top: 30px;
            color: #fff;
        }
    }

    .connect{
        padding: 20px 30px;
        width: 50%;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 3px 50px rgba($color: #000000, $alpha: .03);
        position: relative;        
        overflow: hidden;
        border-radius: 10px;

        h1{
            font-size: 25px;
            font-family: 'GD Boing';
            line-height: 50px;
            color: #150033;
            margin-bottom: 30px;
        }

        .contact_form{

            input, select{
                padding: 20px;
                border : 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: 8px;

                &:focus{
                    outline-color: #003ad6;
                }
            }

            .submit{
                button{
                    padding: 20px;
                    border-radius: 8px;
                    background-color: #003ad6;
                    width: 100%;
                    border: none;
                    color: #fff;
                    font-family: 'mulish';
                    font-weight: bold;
                    margin-top: 20px;
                    cursor: pointer;
                }
            }

            .baseInput{
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .nameDiv{
                display: flex;
                justify-content: space-between;
                width: 100%;

                input{
                    width: 39%;
                }
            }

            select{
                width: 100%;
            }

            div{
                margin: 15px 0;
            }
        }
    }

}

.successMail{
    
    width: 100%;
    background-color: #fff;
    position: absolute;
    padding: 50px;
    box-sizing: border-box;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    flex-direction: column;

    .inform{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;

        h1{
            text-align: center;
            font-size: 21px;
        }

        p{
            text-align: center;
            line-height: 25px;
            margin-top: -20px;
            width: 70%;
        }
    }
}

@media (max-width: 1024px) {

   .contact{

     padding : 100px !important;

     .contact_content{
         h1{
             font-size: 38px !important;
             line-height: 43px !important;
         }
     }

     .connect h1{
        font-size: 21px !important;
     }

   }

   .pop{
       width: 350px !important;
   }

}

@media (max-width: 992px) {

    .contact{
 
      flex-direction: column;
      align-items: flex-start;

      .contact_content{
          width: 100%;
          margin-bottom: 50px;

          h1{
            font-size: 48px !important;
            line-height: 53px !important;
        }

        p{
            width: 80%;
        }
      }
      
      .connect{

        width: 100%;

      }

    }

   
 
    .pop{
        display: none;
    }
 
 }

 @media (max-width: 620px) {

    .contact{
        padding: 50px 30px !important;
      flex-direction: column;
      align-items: flex-start;

      .contact_content{
          width: 100%;
          margin-bottom: 50px;

          h1{
            font-size: 48px !important;
            line-height: 53px !important;
        }

        p{
            width: 80%;
        }
      }
      
      .connect{

        width: 100%;

      }

    }
 
 }

 @media (max-width: 425px) {

    .contact{

      padding: 50px 0px !important;

      .contact_content{
          width: 100%;
          margin-bottom: 30px;
          padding: 0 30px;
          box-sizing: border-box;

          h1{
            font-size: 35px !important;
            line-height: 40px !important;
        }

        p{
            width: 100%;
        }
      }
      
      .connect{

        width: 100%;

        .nameDiv input{
            width: 36% !important;
        }

      }

    }
 
 }