*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {font-family: "GD Boing";
  src: url("https://db.onlinewebfonts.com/t/2d8cf0a1ae3cf90fc45730a9e56b1db2.ttf") format("truetype")
}

body{
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container{
  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}


