
@font-face {
    font-family: 'gd boing';
    src: local('gd boing'), url(./fonts/gd\ boing.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  body{
      width: 100%;
      overflow-x: hidden;
  }